* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #202732;
    overflow-x: hidden;
}

:root {
    --main-radius: 20px;
    --main-padding: 15px;
}

/*

Linear changing background.

.background {
    width: 100%;
    height: 100%;
    color: white;
    background: linear-gradient(-45deg, #804000, #331a00, #804000);
    background-size: 400% 400%;
    position: relative;
    animation: change 50s ease-in-out infinite;
}

@keyframes change {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}*/

.container {
    display: grid;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 20fr 4fr 4fr 3fr ;
    grid-gap: 7rem;
    padding-left: 5%;
    padding-right: 5%;
}

@media only screen and (max-width:550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 0.5fr;
    }
}

main {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-image: url(image/blob.png);
}

.blob {
    size-adjust: border;
    position: fixed;
    padding: center;
    padding-right: 7%;
    width: 100%;
    height: 75%;
    object-fit: contain;
    object-position: center;
}

h1 {
    padding-top: center;
    padding-left: center;
    position: relative;
    text-align: center;
    padding-top: 13%;
    background: transparent;
    padding-left: 4%;
    font-size: 12rem;
    letter-spacing: 5px;
    color: white;
    cursor: pointer;
    filter: blur(0px);
    transition: 1s all;
}

h1:hover {
    filter: blur(5px);
}

@media only screen and (max-height:750px) and (max-width: 550px) {
    .blob { 
        height: 75%;
        width: 100%;
    }
}

@media only screen and (max-width:1000px) {
    h1 {
        font-size: 6rem;
        padding-top: 17%;
    }
}

@media only screen and (max-height: 700px) and (max-width: 350px) {
    h1 { 
        padding-top: 50%;
        font-size: 3.5rem;
    }
}

.whoami {
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    border: 3px solid rgba(168, 51, 168, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    height: 120%;
}

h2 {
    background: transparent;
    position: center;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
}

h3 {
    background: transparent;
    position: center;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.project1 {
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    border: 3px solid rgba(168, 51, 168, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    height: 120%;
}

/*

If another project needs to be activated, you need to uncomment it here and in HTML. 
You also need to add sizes of the conteiners and ajust everything (color, ).

.project2 {
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.project3 {
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}

.project4 {
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}

.project5 {
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
}*/

footer {
    border-radius: var(--main-radius);
    background: rgba(0, 0, 0, 0.6);
    padding-top: 2%;
    backdrop-filter: blur(10px);
    border: 3px solid rgba(168, 51, 168, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    text-align: center;
}

h4 {
    font-size: 25px;
    color: white;
    background: transparent;
    position: relative;
    right: 10%;
    overflow: hidden;
    clear: both;
    white-space: nowrap;
    display: inline-block;
}

.gmail {
    width: 50px;
    background: transparent;
    position: relative;
    right: 12.5%;
}

.discord {
    width: 50px;
    background: transparent;
    position: relative;
    left: 12.5%;
}

h5 {
    font-size: 25px;
    display: inline-block;
    color: white;
    background: transparent;
    position: relative;
    left: 14%;
    overflow: hidden;
    clear: both;
    white-space: nowrap;
}

@media only screen and (max-width: 900px) {
    h4 {
        right: -20%;
        overflow: auto;
        display: flex;
        white-space: pre-line;
        font-size: 15px;
        text-align: center;
        clear: none;
        padding-left: center;
        
    }
    
    .gmail {
        right: 0%;
    }

    .discord {
        left: 0%;
    }
    
    h5 {
        left: 33%;
        display: flex;
        overflow: auto;
        clear: none;
        white-space: pre-line;
        font-size: 15px;
        padding: center;
        text-align: center;
        padding-left: center;
    }
}